
.img-responsive {
	margin: auto;
	max-width: 100%;
	@include border-top-radius(20px);
    @include border-bottom-radius(20px);
}
.ind {
	margin: auto;
	max-width: 100%;
}
.next-prev {
	height: 64px;
	width: 100%;
	margin-bottom: 10px;
	text-align: center; 
}
.next-prev div {
	display: inline-block;
	height: 64px;
	width: 64px;
	margin-right: 2px;
	border-radius: 100%; 
	position: relative;
}
.next-prev div a {
	position: absolute;
	border-radius: 100%; 
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.text-info {
	text-align: center;
}
.next-prev .next a {
	background-image: url("/images/1.png");
}
.next-prev .prev a {
	background-image: url("/images/2.png");
}
.next-prev .back a {
	background-image: url("/images/3.png");
}

@media (max-width: 768px) {
	.ind {
		max-width:100%;
	}
}