<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    	<h3 class="examples-title">Летние</h3>
    	<p class="examples-text">В пору изобилия фруктов и ягод добовьте больше свежего и полезного</p>
    	<a href="#/fruits" class="thumbnail">
      		<img src="images/tarts/11.jpg" alt="...">
      </a>
    </div>
    <div class="col-sm-4">
    	<h3 class="examples-title">Для души</h3>
    	<p class="examples-text">Поздравьте своих близких роскошным тортом в знаменательный день</p>
    	<a href="#/casual" class="thumbnail">
      		<img src="images/tarts/5.jpg" alt="...">
      </a>
    </div>
    <div class="col-sm-4">
    	<h3 class="examples-title">В День Рожденья</h3>
    	<p class="examples-text">Поздравьте своих близких роскошным тортом в знаменательный день</p>
    	<a href="#/birthday" class="thumbnail">
      		<img src="images/tarts/9.jpg" alt="...">
      </a>
    </div>
  </div>
</div>
