<div class="main">	
	<div class="main-header">
		<div class="main-name">
			<h2>Katya Sukhanova</h2>
			<p>+380661700166</p>
		</div>
		<div class="logo"><img src="/images/logo11.png" alt=""></div>
	</div>
	<div class="main-examples">
		<div class="example">
			<div class="example-blurb">
				<a href="#/fruits"><p>Летние торты со свежими фруктами и ягодами</p></a>
			</div>
			<div class="frame-1"></div>
			<div class="main-img"><a href="#/fruits"><img class="example-image" src="/images/tarts/main1.jpg" alt=""></a></div>
			<div class="frame-1"></div>
		</div>
		<div class="example">
			<div class="example-blurb">
				<a href="#/casual"><p>Креативные торты</p></a>
			</div>
			<div class="frame-2"></div>
			<div class="main-img"><a href="#/casual"><img class="example-image" src="/images/tarts/main2.jpg" alt=""></a></div>
			<div class="frame-2"></div>
		</div>	
		<div class="example">
			<div class="example-blurb">
				<a href="#/birthday"><p>Торты в дни рождения и праздники</p></a>
			</div>
			<div class="frame-3"></div>
			<div class="main-img"><a href="#/birthday"><img class="example-image" src="/images/tarts/main3.jpg" alt=""></a></div>
			<div class="frame-3"></div>
		</div>
	</div>
	<div class="main-testimonials">
		<h2>О нас оставляют отзывы:</h2>
		<ul rn-carousel rn-carousel-auto-slide rn-carousel-duration="1000"  class="fb-carousel">
			<li>
				<div class="fb-slide">
					<div class="fb-face">
						<img src="/images/feedback/face-1.jpg" alt="">
						<div class="face-text">
							<h3>Юлия</h3>
							<p>19 лет</p>
						</div>
					</div>
					<div class="fb-text">
						<span class"quotes"><img src="/images/quotes.png" alt=""></span>
						<p>Мне очень нравится как Катя печет, мы уже стали подругами.</p>

					</div>
				</div>
			</li>
			<li>
				<div class="fb-slide">
					<div class="fb-face">
						<img src="/images/feedback/face-2.jpg" alt="">
						<div class="face-text">
							<h3>Роман</h3>
							<p>26 лет</p>
						</div>
					</div>
					<div class="fb-text">
						<span class"quotes"><img src="/images/quotes.png" alt=""></span>
						<p>Заказал торт в День рожденья сестры, с помщью изобретательности Кати, подарок получился отличным.</p>
					</div>
				</div>
			</li>
			<li>
				<div class="fb-slide">
					<div class="fb-face">
						<img src="/images/feedback/face-3.jpg" alt="">
						<div class="face-text">
							<h3>Людмила</h3>
							<p>49 лет</p>
						</div>
					</div>
					<div class="fb-text">
						<span class"quotes"><img src="/images/quotes.png" alt=""></span>
						<p>Я доверяю Кате, потому что для приготовления она использует только натуральные продукты. </p>
					</div>
				</div>
			</li>
			<li>
				<div class="fb-slide">
					<div class="fb-face">
						<img src="/images/feedback/face-4.jpg" alt="">
						<div class="face-text">
							<h3>Оксана</h3>
							<p>32 года</p>
						</div>
					</div>
					<div class="fb-text">
						<span class"quotes"><img src="/images/quotes.png" alt=""></span>
						<p>Часто заказываю разнообразную выпечку. Всегда выполняется вовремя и качественно.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>